@import "tailwindcss";

@theme {
  --color-saesori-green: #557A66;
  --color-saesori-green-dark: #3E594A;
  --color-saesori-green-light: #7A9F8B;
  --color-saesori-beige: #F5F1E6;
  --color-saesori-yellow: #E6D695;
  --font-display: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  @apply bg-saesori-beige text-saesori-green-dark font-body;
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display font-bold;
}
